<h1>
  <%= @issue.title %> <span class="small"><%= link_to "##{@issue.number}", @issue.html_url, target: '_blank' %></span>
</h1>
<div class="row">
  <div class="col-12">
    <% @issue.labels.each do |label| %>
      <span class="badge" style="background-color: <%= "\##{label.color}" %>">
        <%= label.name %>
      </span>
    <% end %>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <%= state2icon @issue.state %> <%= @issue.user.login %> opened this issue <%= time_ago_in_words @issue.created_at %>
    ago <%= @issue.comments %> comments
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-1 d-none d-md-block">
    <div class="text-center">
      <%= image_tag @issue.user.avatar_url, class: 'rounded', width: 60 %>
    </div>
  </div>
  <div class="col-12 col-md-11">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <small><%= @issue.user.login %> commented <%= time_ago_in_words @issue.created_at %> ago</small>
        </div>
        <div class="card-text">
          <%= markdown @issue.body %>
        </div>
      </div>
    </div>
  </div>
</div>
