<h1><%= @project.name %></h1>
<div class="row justify-content-center">
  <% @columns.each do |column, cards| %>
    <div class="col-12 col-md">
      <h2>
        <span class="rounded-circle p-0 small text-center d-inline-block mr-2" style="width:2rem;height:2rem;line-height:2rem;background-color:whitesmoke;"><%= cards.size %></span><%= column.name %>
      </h2>
      <ul class="list-unstyled">
        <% cards.each do |card, issue| %>
          <li>
            <div class="card mb-2">
              <% if issue.present? %>
                <%= render 'issue_card_body', card: card, issue: issue %>
              <% else %>
                <%= render 'note_card_body', card: card %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
